<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetReadOnlyInstanceMethod" value="GetReadOnlyInstance"/>
  </appSettings>

  <connectionStrings>
    <add name="CDISCOUNT_CATALOG_SYNCHRO" providerName="System.Data.SqlClient" connectionString="Data Source=PP_CATALOG.cdweb.biz\CATALOG;Initial Catalog=CDISCOUNT_CATALOG; User ID=SynchroUser; Password=syncWSuser" />
  </connectionStrings>
</configuration>